@{
    ViewData["Title"] = "About Pants";
}
<h1>@ViewData["Title"]</h1>


 
   

    
           

    <body class="bg-secondary">
        <div class="container" id="about">
            <div class="row">
                <div class="col-sm-11">
                    <h5>

                        One of the largest multi-brand companies in the world, Pants Company is a pioneer in the denim industry.
                        It is possible to distribute numerous brands under one roof thanks to multi-brand retail.
                        In 2007, it was founded.
                        The number of full-time employees is over 100.
                        The Main Office is in Windsor, Canada, in the province of Ontario.
                    </h5>
                </div>
                <div class="col-sm-12">

                    <img src="../img/P1.jpeg"  alt="Pants" width="310" height="240">
                    <img src="../img/P2.jpeg" alt="Pants" width="310" height="240">
                </div>


            </div>
        </div>

</body>