@{
    ViewData["Title"] = "Index";
}

<div class="container bg-warning">
    <h1 class="display-4">Welcome to Pants Website</h1>
    <h3> Our Best Brands</h3>
    
    <ul class="list-unstyled">
        <li>Gas</li>
        <li>Gap</li>
        <li>Tommy Hilfigar</li>
        <li>Puma</li>
        <li>Gucci</li>
        <li>Diesel</li>
        <li>Levis</li>
        <li>Red Tape</li>
        <li>Jockey</li>

    </ul>
       
     
</div>
